<a href="https://colab.research.google.com/github/balaprasanna20/ml-demo/blob/main/Copy_of_Welcome_To_Colab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
a=[1,"hello",]
b=(2,"python")
c={3,"word"}
print(x)
print(a)
print(b)
print(c)

10
[1, 'hello']
(2, 'python')
{'word', 3}

In [ ]:
n=10
if n%2==0:
  print("number is even")
else:
  print("number is odd")

number is even

In [ ]:
for i in range(1,11):
  print(i,"*5=",i*5)

1 *5= 5
2 *5= 10
3 *5= 15
4 *5= 20
5 *5= 25
6 *5= 30
7 *5= 35
8 *5= 40
9 *5= 45
10 *5= 50

In [ ]:
count = 0
while count < 5:
  print(count)
  count+=1

0
1
2
3
4

In [ ]:
def find_day(month):
  match month:
    case 1:
      print("january")
    case 2:
      print("feburary")
    case 3:
      print("march")
    case 4:
      print("april")
    case 5:
      print("may")
    case _:
      print("invalid month")
find_day(8)

invalid month

In [ ]:
userid=[1,2,3]
enteruserid=int(input("enter the userid"))
if enteruserid in userid:
  print("userid")
else:
  print("invalid user")

enter the userid7
invalid user

In [ ]:
a=int(input("enter the first number"))
if sum > 9:
  string_sum=str(sum)
  first_num=int(string_sum[0])
  second_num=int(string_sum[1])
  result=(first_num+second_num)
  print(result)

In [ ]:
a=int(input("enter the first number"))
if a>9:
  string_sum=str(a)
  first_num=int(string_sum[0])
  second_num=int(string_sum[1])
  result=(first_num+second_num)
  print(result)

enter the first number81
9

In [14]:
a=int(input("enter the number"))
count=0
for i in str(a):
 count=count+1
print(count)

enter the number4567
4

In [23]:
import pandas as pd
df=pd.read_excel("/ml dataset.xlsx")
df
print(df.head())

   Unnamed: 0  Unnamed: 1  S.NO PATEITENT NAME  GENDER    PHONE.NO BLOOD GRP  \
0         NaN         NaN     1         Afrith    male   897654538      b+ve
1         NaN         NaN     2      deepak .p    male  9988776437      o+ve
2         NaN         NaN     3         swetha  female  9899765434      b+ve
3         NaN         NaN     4           arun    male  9876548765      a+ve
4         NaN         NaN     5           bala    male  9999876254      a+ve

   ADDRESS  GUARDIAN   GUARDIAN.PHNO      DOCTOR NAME   OPERATION NAME  \
0  chennai    deepak      9876545679   bala saravanan    heart surgery
1  chennai    madani      9876545680      ajith kumar      leg surgery
2  chennai  santhosh      9876545681        brad pitt  plastic surgery
3  chennai     aruna      9876545682       tom cruise    brain surgery
4  chennai  sunandha      9876545683  chris hemswroth        fracture

        DATE  OPERATION COST CASH OR GPAY
0 2025-07-18           20000         cash
1 2025-07-19           20001         gpay
2 2025-07-20           20002         gpay
3 2025-07-21           20003         gpay
4 2025-07-22           20004         gpay

In [24]:
print(df.tail())

    Unnamed: 0  Unnamed: 1  S.NO    PATEITENT NAME GENDER    PHONE.NO  \
45         NaN         NaN    46              bala   male  9999876262
46         NaN         NaN    47          prasanna   male  9999876262
47         NaN         NaN    48  lokesh kanagraj'   male  9999876262
48         NaN         NaN    49             nolan   male  9999876262
49         NaN         NaN    50     david fincher   male  9999876262

   BLOOD GRP  ADDRESS GUARDIAN   GUARDIAN.PHNO DOCTOR NAME OPERATION NAME  \
45      b+ve  chennai  keerthi      9876545724   johanthan    eye surgery
46      b+ve  chennai  keerthi      9876545725   johanthan    eye surgery
47      b+ve  chennai  keerthi      9876545726   johanthan    eye surgery
48      b+ve  chennai  keerthi      9876545727   johanthan    eye surgery
49      b+ve  chennai  keerthi      9876545728   johanthan    eye surgery

         DATE  OPERATION COST CASH OR GPAY
45 2025-09-01           20045         gpay
46 2025-09-02           20046         gpay
47 2025-09-03           20047         gpay
48 2025-09-04           20048         gpay
49 2025-09-05           20049         gpay

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      0 non-null      float64
 1   Unnamed: 1      0 non-null      float64
 2   S.NO            50 non-null     int64
 3   PATEITENT NAME  50 non-null     object
 4   GENDER          50 non-null     object
 5   PHONE.NO        50 non-null     int64
 6   BLOOD GRP       50 non-null     object
 7   ADDRESS         50 non-null     object
 8   GUARDIAN        50 non-null     object
 9    GUARDIAN.PHNO  50 non-null     int64
 10  DOCTOR NAME     50 non-null     object
 11  OPERATION NAME  50 non-null     object
 12  DATE            50 non-null     datetime64[ns]
 13  OPERATION COST  50 non-null     int64
 14  CASH OR GPAY    50 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(4), object(8)
memory usage: 6.0+ KB
None

In [26]:
print(df.describe())

       Unnamed: 0  Unnamed: 1      S.NO      PHONE.NO   GUARDIAN.PHNO  \
count         0.0         0.0  50.00000  5.000000e+01    5.000000e+01
mean          NaN         NaN  25.50000  9.813141e+09    9.876546e+09
min           NaN         NaN   1.00000  8.976545e+08    9.876546e+09
25%           NaN         NaN  13.25000  9.999876e+09    9.876546e+09
50%           NaN         NaN  25.50000  9.999876e+09    9.876546e+09
75%           NaN         NaN  37.75000  9.999876e+09    9.876546e+09
max           NaN         NaN  50.00000  9.999876e+09    9.876546e+09
std           NaN         NaN  14.57738  1.286764e+09    1.457738e+01

                      DATE  OPERATION COST
count                   50        50.00000
mean   2025-08-11 12:00:00     20024.50000
min    2025-07-18 00:00:00     20000.00000
25%    2025-07-30 06:00:00     20012.25000
50%    2025-08-11 12:00:00     20024.50000
75%    2025-08-23 18:00:00     20036.75000
max    2025-09-05 00:00:00     20049.00000
std                    NaN        14.57738

In [33]:
mean_value=df["PHONE.NO"].mean()
print("mean:",mean_value)

mean: 9813141063.8

In [35]:
std_value=df['OPERATION COST'].std()
print("standard deviation",std_value)

standard deviation 14.577379737113251

In [34]:
median_value=df['DATE'].median()
print("median:",median_value)

median: 2025-08-11 12:00:00